!!! 5
%html{lang: 'en'}
  %head
    %title= 'Netrunner Card Matcher'

    %meta{charset: 'utf-8'}

    %link{:href => '/images/favicon.png', :rel => 'shortcut icon'}
    %link{href: 'css/index.css', rel: 'stylesheet'}

    %script{type: 'text/javascript', src: 'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js'}
    %script{type: 'text/javascript', src: 'http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'}
    %script{type: 'text/javascript', src: 'http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'}
    %script{type: 'text/javascript', src: 'http://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.1.0/backbone.marionette.min.js'}

%body

  ZOMG!